@import "../../styles/utils/utils";

.trade-form {
	padding: $spacing-whole;
	display: flex;
	flex-flow: column nowrap;
	section {
		display: flex;
	}
	&__group {
		display: flex;
		flex-flow: column nowrap;
		margin-right: $spacing-half;
		&--horizontal {
			display: flex;
			flex-flow: row nowrap;
		}
	}

	&__field {
		flex: 1 1 auto;
		display: flex;
		margin-bottom: $spacing-half;
	}

	label {
		width: 75px;
	}
}