.trade-form {
  padding: 1.5rem;
  display: flex;
  flex-flow: column nowrap; }
  .trade-form section {
    display: flex; }
  .trade-form__group {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 0.75rem; }
    .trade-form__group--horizontal {
      display: flex;
      flex-flow: row nowrap; }
  .trade-form__field {
    flex: 1 1 auto;
    display: flex;
    margin-bottom: 0.75rem; }
  .trade-form label {
    width: 75px; }
