/* ==========================================================================
   Layout
   ========================================================================== */
.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 80% 20%;
  grid-template-rows: 80% auto;
  grid-template-areas: "map feed" "form feed"; }
  .App .trade-map {
    grid-area: map; }
  .App .trade-feed {
    grid-area: feed; }
  .App .trade-form {
    grid-area: form; }
